
/* CSS (top-bottom) */
/* <main> */

.destaque {
	height: 500px;
	padding: 18em 0 0 6em;
	padding-bottom: 0;
	color: white;
	margin: 0;
	line-height: 2;
	background-image: url('../img/bg-7.jpg');
	background-attachment: fixed;
	background-repeat: no-repeat;
	background-position: top left;
}

/* main-about */

.main-about {
	width: 100%;
	margin: 0;
	box-sizing: border-box;
	overflow: hidden;
	padding: 5em;
	background-color: #f1f1f1;
	clear: both;
	height: 700px;
}

.img-rbga {
	display: block;
	position: relative;
	border-inline-start-width: 1px;
}

.img-rbga img{
	width: 100%;
	display: block;
}

.img-rbga:before{
	content: '';
	position: absolute;
	top: 0;
	left:0;
	width: 100%;
	height: 100%;
	background: transparent;
	transition: all .5s;
}

.img-rbga:hover:before{
   background: rgba(0,0,0,.5); 
} 

.img-rbga:after{
	opacity: 0;
}

.img-rbga:hover:after{
	content: 'Ver Portfólio';
	display: block;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	opacity: 1;
	text-align: center;
	border: 2px solid white;
	color: white;
	border-radius: 5px;
	font-size: 16px;
	display: inline-block;
	padding: 10px;
    transition: all .2s ease-in-out;
}   

.col1-2 {
	width: calc(50% - 10%);
	margin-left: 5%;
	margin-right: 5%;
	float: left;
}

.col1-2 img{
	width: 100%;
}

.col2-2 {
	width: calc(50% - 5%);
	margin-right: 5%;
	float: right;
}

.col2-2 h2 {
	font-size: 3em;
	text-transform: uppercase;
	font-weight: 600;
	color: black;
	margin: 0;
}

.col2-2 p {
	font-size: 1.1em;
	font-weight: 500;
	color: rgb(43, 40, 40);
	margin: 0 0 .5em 0;
}

/* main-icons */

.main-icons {
	width: 100%;
	height: 560px;
	box-sizing: border-box;
	background-color: black;
	overflow: hidden;
}

.main-icons h3 { 
	text-transform: uppercase;
	font-weight: 600;
	font-size: 1.5em;
	letter-spacing: 1px;
	margin-top: 5px;
}

.main-icons a.icon {
	font-size: 3.5em;
	transition: all .4s cubic-bezier(0.275, 0.885, 0.32, 1);
	margin: 10px 0;
	color: rgb(26, 25, 26);
}

.main-icons a.icon2 {
	font-size: 3.5em;
	transition: all .4s cubic-bezier(0.275, 0.885, 0.32, 1);
	margin: 10px 0;
	color: rgb(130, 130, 130);
}

.p-main-icons {
	font-size: 1.2em;
	margin-top: 10px;
}

.p-main-icons-a {
	font-size: 1.2em;
	margin: 10px 0 0 0;
	padding: 0;
}

.col3-2 {
	width: calc(100% - (2 * 25%));
	float: left;
	overflow: hidden;
}

.col3-2 img {
	width: auto;
	height: 570px;
}

.col3-3 {
	width: 25%;
	float: left;
	height: 100%;
}

.cinza {
	padding: 2em 3em;
	background-color: rgb(105, 105, 105);
	color: rgb(26, 25, 26);
	box-sizing: border-box;
	height: 100%;
}

.cinza a.icon:hover{
	color: rgb(0,0,0);
	font-size: 4.4em;
}

.cinza-escuro {
	padding: 2em 3em;
	background-color: rgb(39, 37, 37);
	color: rgb(153, 153, 153);
	box-sizing: border-box;
	height: 100%;
}

.cinza-escuro a.icon2:hover{
	color: rgb(150, 149, 149);
	font-size: 4.4em;
}

.main-pro {
	width: 100%;
	box-sizing: border-box;
	background-color: #f1f1f1;
	overflow: hidden;
	text-align: center;
	padding-top: 1em;
	padding-bottom: 2em;
}

.main-pro h2{
	margin: 0;
	padding-top: 1em;
	padding-bottom: .6em;
	font-size: 3.2em;
	text-transform: uppercase;
	font-weight: 600;
	color: black;
	
}


.cerco {
	width: 70%;
	margin: 1em auto 3em auto;
    padding: 1% 1.5%;
    overflow: hidden;
	margin: 15px auto 0px auto;
	text-align: center;
	color: black;
}

.cerco img {
	width: auto;
	height: 400px;
}

.card {
    float: left;
    margin-right: 1.5%;
	width: 31.5%;
}

.card:last-child {
    margin-right: 0;
}

.card p {
	background-color: rgba(0,0,0,.4);
    text-transform: uppercase;
    padding: 40px 15px 20px 15px;
    margin-top: -40px;
    color: white;
	font-size: 1.2em;
	letter-spacing: 2px;
	transition: color .4s linear;
}

.card:hover p {
	color: rgba(0,0,0,.4) !important;
}




.main-bottom {
	width: 100%;
	color: rgba(0,0,0,0.6);
	margin: 0 auto;
	box-sizing: border-box;
	overflow: hidden;
	padding: 5em;
	background-color: white;
	clear: both;
}

.main-bottom h2 {
	font-size: 2em;
	color: black;
	font-weight: 600;
	letter-spacing: 1px;
	margin: 0;
}

.main-bottom p {
	margin-bottom: 0;
	padding-bottom: 0;
	margin-top: 1em;
}

.p-preto {
	font-size: 1.2em;
	color: black;
	margin-top: .5em !important;
}

.left-bottom {
	width: calc(50%);
	float: left;
}
.main-bottom iframe{
	width: 100%;
	height: 500px;
}

.col1-2bottom {
	width: calc(50%);
	float: left;
	margin: .5em 0;
}


/* hora do pau */

.img-animada {
	transition: all .5s cubic-bezier(0.455, .03, 0.515, 1.2);
}

.img-animada:hover {
	transform: translate(.7em, .5em);
}

.n-i {
	opacity: 1;
	visibility: visible;
}

/* notebook */