
.control-button {
  color: #777  !important;
  font-size: 3.5em !important;
  transition: all .2s ease-in-out !important;
}

.control-button:hover {
  color: #000 !important;
  font-size: 3.7em !important;
}

/*
	Theme controls how everything looks in Gallery CSS.
*/
.gallery {
  position: relative;
}
.gallery .item {
  height: 400px;
  overflow: hidden;
  text-align: center;
  background: white;
}

.controls {
  position: absolute;
  bottom: 0;
  width: 100%;
  text-align: center;
}
.control-button {
  display: inline-block;
  margin: 0 .02em;
  font-size: 3em;
  text-align: center;
  text-decoration: none;
  transition: color .1s;
}
