@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?da407f');
  src:  url('fonts/icomoon.eot?da407f#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?da407f') format('truetype'),
    url('fonts/icomoon.woff?da407f') format('woff'),
    url('fonts/icomoon.svg?da407f#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-clock:before {
  content: "\e94e";
}
.icon-stopwatch:before {
  content: "\e952";
}
.icon-cog:before {
  content: "\e994";
}
.icon-stats-bars2:before {
  content: "\e99d";
}
.icon-google-plus3:before {
  content: "\ea8d";
}
.icon-google-drive:before {
  content: "\ea8f";
}
.icon-facebook:before {
  content: "\ea90";
}
.icon-facebook2:before {
  content: "\ea91";
}
.icon-instagram:before {
  content: "\ea92";
}
.icon-whatsapp:before {
  content: "\ea93";
}
.icon-spotify:before {
  content: "\ea94";
}
.icon-youtube:before {
  content: "\ea9d";
}
.icon-twitch:before {
  content: "\ea9f";
}
.icon-steam:before {
  content: "\eaac";
}
.icon-github:before {
  content: "\eab0";
}
.icon-chrome:before {
  content: "\ead9";
}
